
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

