* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */
  
  .nav-container {
    background: #d70000;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
    height: 72px;
    margin-top: 0px;
    z-index: 500;
    position: relative;
  }
  
  .wrapper {
    width: 1050px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  nav ul {
    display: flex;
    margin: 0;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: white;
  }
  
  .nav-items li {
    list-style: none;
    margin-right: 60px;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  
  /* Header */
  
  .header-container {
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #021718;
    margin-bottom: 24px;
  }
  
  header p {
    font-size: 16px;
    line-height: 42px;
    color: #021718;
    width: 418px;
  
    margin-bottom: 48px;
  }
  
  header a {
    color: #fffffa;
    font-size: 24px;
    text-decoration: none;
  
    background: #d70000;
    border-radius: 8px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
  }
  
  header a:hover {
    transform: translateY(-8px);
  }
  
  /* Social Icons */
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 24px;
  }
  
  .social-icons a:nth-of-type(1) {
    margin-left: 0;
  }
  
  /* Hero image */
  
  header .hero-image {
    position: relative;
  }
  
  header .hero-image img {
    transition: 300ms;
    position: relative;
    z-index: 100;
  }
  
  header .hero-image img:hover {
    transform: rotate(-6deg);
  }
  
  header .hero-image .photo-bg {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 45px;
    top: 24px;
    transform: rotate(-6deg);
  }
  
  /* Team */

.team {
  background-color: white;
}

.title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    margin: 20px 0 40px 0;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #d70000;
    transform: translateX(-50%);
}

.btn-sosmed {
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sosmed:hover .icon-sosmed{
    animation: rotation 0.5s 1 linear;
}

.card-team__img {
    width: 31%;
    height: 31%;
    position: relative;
    top: -60px;
    outline: 2px solid gray;
}

.card-team{
    margin-top: 60px;
    border-width: 2px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 157, 171, 0.1);
}

.card-team__content::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 70px;
    height: 1px;
    background: #000;
    transform: translateX(-50%);
}

.card-team__content {
    position: relative;
    top: -30px;
}

.sosmed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    top: -25px;
    position: relative;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #cac8c8;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    top: 50%;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}